body {
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

address {
  font-style: normal;
}

/* HEADER */

.header-logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11111;
  letter-spacing: -0.03em;
  color: #111;
}

.hl-italic {
  font-style: italic;
}

.header-menu .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14286;
  letter-spacing: -0.02em;
  color: #111;
}

/* SECTION HERO*/

.hero-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21429;
  letter-spacing: -0.03em;
  color: #fff;
}

/* SECTION FEATURES*/

.features .title {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
}

.features .description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}
/* SECTION */
/* SECTION */
/* SECTION */
/* SECTION */
/* SECTION */

/* FOOTER */
